<h1>Contact us</h1>
<img class="contact-img" src="/img/contact.png" alt="blog" width="981" height="528">

<p class="contact">We’d love to hear from you! Whether you have questions, feedback, or suggestions, feel free to reach
    out to us. At <b>Blogify</b>, we’re always here to assist and engage with our readers. Your thoughts and inquiries
    are important to us,
    and we’ll do our best to get back to you as soon as possible.</p>

<p class="contact">
    You can email us directly at <b>contact@blogify.com</b>. If you’re looking for
    collaborations, partnerships, or simply want to chat about tech, don’t hesitate to get in touch!
</p>